/*Victoria Wellington
Main CSS file to go with assignment four: toolbox challenge */

.container{
	max-width: window.width();
	max-height: window.height;

}

#gameGrid{
	height: 80%

}

#gameGrid img {
	width: 100%
}

#gameGrid col {
	padding: 1em;
}

#stats {
	padding: 2em;
}

