/*Victoria Wellington
Main CSS file to go with assignment four: toolbox challenge */

.container{
	max-width: window.innerWidth;
	max-height: window.innerHeight;

}

#gameGrid{
	height: 70%

}

#gameGrid input {
	width: 95%
}

#stats {
	padding: 2em;
}

#winner {
	display: none;
}

