/*Victoria Wellington
Main CSS file to go with assignment four: toolbox challenge */

.container{
	max-width: window.innerWidth;
	max-height: window.innerHeight;

}

#gameGrid{
	height: 50%

}

#gameGrid input {
	width: 95%
}

#stats {
	padding: 2em;
}

#winner {
	display: none;
	font-size: 24px;
}


body {
	background-image: url('../img/starryBackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 20px;
}

h1 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

